<p>
  <strong>Employee Name:</strong>
  <%= @employees.name %>
</p>
 
<p>
  <strong>Age:</strong>
  <%= @employees.age %>
</p>

<p>
  <strong>Department:</strong>
  <%= @employees.dept %>
</p>

<p>
  <strong>Joining Date:</strong>
  <%= @employees.date %>
</p>
